@{
    Layout = "";
    ViewData["Title"] =_Localizer.GetLocalizedString("Signup");;
}
@model Model.Models.Sycuuser
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-stand">
    <title>@_Localizer.GetLocalizedString("Signup")</title>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <link rel="stylesheet" onload="this.media='all'" href="~/Content/fonts/fonts.css" />
    <link rel="stylesheet" onload="this.media='all'" href="~/css/theme.css" />
    <style type="text/css">
        .auth-logo img {
            width: 200px;
            height: 32px;
        }
        .language-switcher {
            text-align: center;
            margin-bottom: 15px;
        }
    </style>
</head>
<body class="text-left">
    <div class="auth-layout-wrap bg">
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="ml-3 mt-3">Create an account</h4>
                        <p class="ml-3">General Infomation.</p>
                        <div class="card mb-5">
                            <div class="card-body">
                                <form>
                                     <fieldset class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="radioEmail" type="radio" name="radioSendCode" value="1" checked="checked">
                                                    <label class="form-check-label ms-3" for="radioEmail">
                                                        Sign up with Email
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="radioMobile" type="radio" name="radioSendCode" value="2">
                                                    <label class="form-check-label ms-3" for="radioMobile">
                                                        Sign up with Mobile
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group row">
                                        <div id="rowEmail" class="col-sm-12">
                                            <label class="col-form-label" for="inputEmail">Email</label>
                                            <input type="email" asp-for="UserEmail" id="inputEmail" class="form-control" placeholder="@_Localizer.GetLocalizedString("Email")" required />
                                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                                        </div>
                                        <div id="rowMobile" class="col-sm-12 d-none">
                                            <label class="col-form-label" for="inputMobile">@_Localizer.GetLocalizedString("Mobile")</label>
                                            <input asp-for="Mobile" id="inputMobile" class="form-control" placeholder="@_Localizer.GetLocalizedString("Mobile")" required />
                                            <span asp-validation-for="Mobile" class="text-danger"></span>
                                        </div> 
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-form-label" for="inputCode">Verification Code</label>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <button id="btnSendCode" class="btn btn-primary w-100" type="button">Send</button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input id="inputCode" class="form-control" placeholder="@_Localizer.GetLocalizedString("Code")" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-form-label" for="inputPassword">Password</label>
                                            <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="@_Localizer.GetLocalizedString("Password")" required />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-form-label" for="inputConfirmPassword">Confirm Password</label>
                                            <input type="password" asp-for="Password" id="inputConfirmPassword" class="form-control" placeholder="@_Localizer.GetLocalizedString("Confirm Password")" required />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                  
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="form-check">
                                                <input class="form-check-input" id="checkPrivate" type="checkbox">
                                                <label class="form-check-label ms-3" for="checkPrivate">
                                                    By signing up you agree to our terms and conditions and privacy policy. We will never share or sell your information or data.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 text-center">
                                            <button id="btnSignup" class="btn btn-primary w-20">@_Localizer.GetLocalizedString("Signup")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <script src="~/js/theme.js"></script>
    <script src="~/js/core/ks.ems.common.js"></script>
    <script src="~/js/core/ks.ems.message.js"></script>
    <script src="~/scripts/Login/signup.js"></script>
</body>
</html>