@{
    var isDark = Context.Request.Cookies["darktheme"];
    var isCompact = (Context.Request.Cookies["compact"] ?? "0") == "1";
}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>@(String.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "HRM" : ViewData["Title"])</title>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <link rel="stylesheet" href="~/Content/fonts/fonts.css" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
   @*  <link rel=" stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel=" stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel=" stylesheet" href="~/css/theme-dark.css" asp-append-version="true" /> *@
    <style type="text/css">
    </style>
    @RenderSection("Styles", required: false)
</head>

<body class="text-left @(isDark == "1" ? "dark-theme" : "")">
    <div class="app-admin-wrap layout-sidebar-large clearfix">
        <!--=============== Left side End ================-->
        <!-- ============ Body content start ============= -->
        <div class="main-content-wrap d-flex flex-column @(isCompact ? "" : "sidenav-open")" id="renderbody">
            @RenderBody()
        </div>
        <!-- ============ Body content End ============= -->
    </div>
    <!-- ============ End Customizer Page Opened ============= -->
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <script src="~/js/theme.js"></script>
    <script src="~/Content/theme/gull/sidebar.large.script.js"></script>
    <script src="~/Content/theme/gull/customizer.script.js"></script>
    <script src="~/Content/libs/moment/moment.min.js"></script>
    <script src="~/js/jquery.datatables.js"></script>
    <script src="~/js/jquery.picker.js"></script>
    <script src="~/js/core/ks.ems.common.js" asp-append-version="true"></script>
    <script src="~/js/core/ks.ems.message.js" asp-append-version="true"></script>
    <script src="~/js/core/ks.ems.dialog.js" asp-append-version="true"></script>
    <script src="~/js/core/ks.ems.site.js" asp-append-version="true"></script>
    <script src="~/js/core/ks.ems.input.validate.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <script src="~/Scripts/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>